<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>O livro-caixa é um registro contábil essencial para qualquer empresa. </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <h3>Sua estrutura básica inclui:</h3>
    <br>
    1. Data: Registrar a data de cada transação.
    <br>
    2. Histórico: Descrever brevemente a natureza da transação (ex.: "Venda à vista", "Pagamento de fornecedor", etc.).
    <br>
    3. Débito: Registrar valores de saídas (despesas, pagamentos, etc.).
    <br>
    4. Crédito: Registrar valores de entradas (receitas, depósitos, etc.).
    <br>
    5. Saldo: Calcular o saldo atual após cada transação.
    <br>
    <br>
    <h3>Tipos de Registros</h3>
    Entradas (Recebimentos de clientes - Vendas à vista - Depósitos bancários - Recebimento de subsídios ou auxílios)
    <br>
    Saídas (Pagamentos a fornecedores - Despesas operacionais - Salários e benefícios - Impostos e taxas - Investimentos)
    <br>
    Transferências (Transferências entre contas bancárias - Transferências para outros livros contábeis)
    <br>
    <br>
    <h3>Exemplo de Preenchimento</h3>
    <br>
    <div class="table-container">
      <table>
        <tr>
          <th>Data</th>
          <th>Histórico</th>
          <th>Débito</th>
          <th>Crédito</th>
          <th>Saldo</th>
        </tr>
        <tr>
          <td>01/02</td>
          <td>Venda à vista</td>
          <td>-</td>
          <td>R$ 1.000,00</td>
          <td>R$ 1.000,00</td>
        </tr>
        <tr>
          <td>02/02</td>
          <td>Pagamento de fornecedor</td>
          <td>R$ 500,00</td>
          <td>-</td>
          <td>R$ 500,00</td>
        </tr>
        <tr>
          <td>03/02</td>
          <td>Depósito bancário</td>
          <td>-</td>
          <td>R$ 2.000,00</td>
          <td>R$ 2.500,00</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>